html { 
    height: 100%;
}

body { 
    height: 100%; 
    margin: 0;
    padding: 0; 
}

.my-navbar {
	background: #ffffff;
	color: #FFFFFF !important;
	padding: 15px 0 15px 0;
	margin: 0;
}

a.logo{
	font-weight: bold;
	font-size: 28px;
	color: #ed7e35 !important;
}

li.active{
	background-color: #ed7e35;
}

.map-section {
	background: #4ebfb9;
}

.filter-sidebar{
	padding: 30px 30px 30px 50px;
}

.order-section {
	background-color: #ed7e35;
	color: #ffffff;
	font-size: 22px;
	padding: 15px 0 15px 0;
}

.order-section a{
	color: #ffffff;
	padding: 5px 15px 5px 15px;
	background: #FF9651;
	border-radius: 2px;
}

.order-section a:hover{
	text-decoration: none;
	background: #FFAB51;
}

.data-section {
	background: #eee;
	text-align: center;
	padding: 50px;
}

.footer-section {
	background: #ccc;
	text-align: center;
	padding: 50px;
}
